# Ignore test folder
test/
backups/

# Ignore binance_data folder
binance_data/

# Ignore data folder
data/

# Ignore logs folder
logs/

# Ignore environment files
.env

# Ignore operational files
crypto*.json
opportunities*.json
.streamlit/

# Ignore compiled python bytecode
__pycache__/
*.py[cod]

# Ignore logs
*.log
*.csv

#training
train_models/